* {
  background-color: rgb(51, 43, 43);
}
.App {
  background-color: gray;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 1) 0px 5px 15px;
  width: 400px;
  height: 400px;
  margin: auto;
  margin-top: 120px;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}
